

  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Título</th>
        <th scope="col">Descripción</th>
        <th scope="col">Empresa</th>
        <th scope="col">Salario</th>
        <th scope="col">Ciudad</th>
        <th scope="col">E-Mail</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let oferta of this.ofertas">
            <th scope="row">{{oferta.id}}</th>
            <td>{{oferta.titulo}}</td>
            <td>{{oferta.descripcion}}</td>
            <td>{{oferta.empresa}}</td>
            <td>{{oferta.salario | currency:'EUR'}}</td>
            <td>{{oferta.ciudad}}</td>
            <td>{{oferta.email}}</td>
            <td><button type="button" class="btn btn-danger" (click)="this.deleteOferta(oferta.id)">Eliminar</button></td>
    </tbody>
  </table>

  <a class="btn btn-primary" routerLink="/nuevaoferta"  role="button" style="margin-left: 40%;">CREAR NUEVA OFERTA</a>
